{% extends "base.html" %}
{% block title %}Quiet Dice{% endblock %}

{% block content %}
<h1>That Was a Really Nice Roll!</h1>
<div class="col-md-4">
<ul class="list-group">
  <li class="list-group-item">
    <p class="list-group-item-heading"><i>Player</i></p>
    <h4 class="list-group-item-text">{{ player.first_name }} {{ player.last_name }} (<i>{{ player.login }}</i>)</h4>
  </li>
  <li class="list-group-item">
    <p class="list-group-item-heading"><i>Game</i></p>
    <h4 class="list-group-item-text">{{ game.name }}</h4>
  </li>
  <li class="list-group-item">
    <p class="list-group-item-heading"><i>Roll</i></p>
    <h4 class="list-group-item-text">{{ roll.code }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ roll.result }}</h4>
  </li>
{% endblock %}
