{% extends "base.html" %}
{% block title %}Truculent Dice{% endblock %}

{% block content %}
<h1>A Really Slow Page of Dice Stuff</h1>
{% for player, rolls in players|dictsort %}
<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading"><h5>{{ player[1] }} {{ player[2] }} (<i>{{ player[0] }}</i>)</h5></div>
  <table class="table">
  <thead><tr>
    <th>die type</th>
    <th>num rolled</th>
    <th>avg. roll</th>
  </tr></thead>
  <tbody>
  {% for stats in rolls %}
  <tr>
    <td>d{{ stats[0] }}</td>
    <td>{{ stats[1] }}</td>
    <td>{{ stats[2] / stats[1] }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
</div>
{% endfor %}
{% endblock %}
